.main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #e7d1ff, #b366ff);
}

.gif_container{
display: flex;
justify-content: center;
align-items: center;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 55px;

}

